*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url('../images/wood.jpg') no-repeat;
    background-size: cover;
}

.header1{
    text-align: center;
    padding-top: 250px;
}

h2, h1{
    color: white;
    font-size: 50px;

}

a{
    text-decoration: none;
    padding:3px;
    color:white;
    border-radius: 8px;
    font-size: large;
}

a:hover{
    color: white;
    background-color: rgb(228, 193, 36);
}

.par1{
    background-color: rgb(228, 193, 36);
    text-align: center;
}

.par2{
    color: rgb(228, 193, 36);
}

.par3{
    display: flex;
    text-align: center;
}

.par4{
    background-color: rgb(228, 193, 36);
}